body{
  background: #6C756B;
}
section{
  margin-bottom: 3rem;
}
.navbar{
  font-size: 1.5rem;
  background: #1D2A2F;
}
.breadcrumb{
  background: none;
}
h3,h2{
  margin-bottom: 0;
}
main {
  padding: 5rem 0;
  max-width: 80rem;
  background-color: #B0B7AA;
}
#top-item img{
  height: 35rem;
  object-fit: cover;
}
.card-header{
  background: #6C756B;
}
.card-img{
  height: 18rem;
  object-fit: fill;

}
@media screen and (min-width: 768px) {
  .card:not(#top-item){
    margin: 0 auto;
    max-width: 35rem;
  }
}
#carouselContainer img{
  max-height: 40rem;
}
.video-overlay {
  height: 64px;
  width: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
z-index: 10;
}
footer{
  color: #fff;
  height: 5rem;
  background: #1D2A2F;
}
#socials{
  list-style: none;
}
#socials li{
  display: inline;
  margin: .2rem;
}